/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 15, 2023, 8:18:15 PM
    Author     : zpace
*/
body{
    padding: 0;
    margin: 0;
}
.hero-image{
    height: 45%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid black;
}

.hero-text{
    margin: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    
    text-align: center;
    transform: translate(-50%,-50%);
}

header{
    padding-top: 15px;
    padding-bottom: 0px;
    margin-right: 0;
    background-color: #34576F;
    
    
}

#logo{
    position: fixed;
    top: 10px;
    left: 10px;
}

#sign_up{
    position: fixed;
    top: 15px;
    right: 10px;
}

.nav{
    width: 100%;
    overflow: auto;
    background-color: #487899;
    list-style:none;
    margin-top:40px;
    
}
.nav li{
    text-align: center;
    width: 25%;
    margin: auto;
    display:inline;
}
.nav a{
    width: 100%;
    display:inline-block;
    padding:12px;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: darkblue;
}








