/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 17, 2023, 6:23:53 PM
    Author     : zpace
*/
body{
   font-family: 'Arimo', sans-serif;

    background-color: #ededed;
}
header{
    padding-top: 15px;
    padding-bottom: 45px;
    margin-right: 0;
    background-color: #34576F;
    
    
}




#logo{
    position: fixed;
    top: 10px;
    left: 10px;
}

#account{
    position: fixed;
    top: 10px;
    right: 10px;
}

.wrapper{
    
    margin: auto;
    margin-top: 150px;
    width: 400px;
    height: 425px;
    padding: 100px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 3px 3px #878787;
}


.aligned {
     
    margin-top: -50px;
    margin-left:-50px; 
}

.aligned h1{
    text-align: center;
    margin-bottom: 20px;
   
}

.aligned label {
    width: 6.5em;
    margin-top: .2em;
    margin-right: 1.5em;
    margin-bottom: 10px;
    float: left;
}
.aligned input {
    float: left;
}
.aligned input[type="text"] {
    margin-top: -15px;
    width: 16.6em;
    background-color: #eaeaea;
    border: .5px solid #dbdbdb;
    border-radius: 5px;
    height: 35px;
}

.aligned input[type ="submit"]{
    text-align: center;
    width: 100%;
    margin-top: -12px;
    margin-bottom: 35px;
}

.aligned p{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.aligned a{
    text-decoration: none;
    color: #3d5dff;
}

#dashboard{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 60%;
    border: 5px solid black;
    
}

#dsah_text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
/*    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    padding-bottom: 50px;
    border-top: 2px solid black;
    background-color: #34576F;*/
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #34576F;
  color: white;
    
}
footer p {
    text-align: right;
    padding-right: 5px;
    font-size: 80%;
    margin: 1em 0;
    color: white;
}










